---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Annarstica"
	description="We build thoughtful digital experiences with a narrative twist."
	pubDate={new Date('October 25 2023')}
	heroImage={AboutHeroImage}
>
<p>
    Annarstica Studio began quietly on August 19, 2023 — with a blank inbox and a bold idea: 
    to build digital spaces that feel personal, purposeful, and a little bit poetic.
  </p>

  <p>
    Whether you're a writer, a maker, or a quiet rebel working on your first side project — 
    we’re here to help you turn your ideas into a space that feels like home.
  </p>

  <p>
    This site is part experiment, part archive, and part playground.
    You're welcome to explore.
  </p>
</Layout>
